<app-header [menuItems]="menuItems"></app-header>
<div class="dashboard-wrapper">
  <div class="chart">
    <app-bar-chart
      *ngIf="barChartData&&barChartLabels"
      [barChartData]="barChartData"
      [barChartLabels]="barChartLabels"
    ></app-bar-chart>
  </div>
  <div class="control">

    <app-select
      [label]="'Категория'"
      [options]="categories"
      [selectedOption]="currentCategory"
      (selectCheck)="onCategorySelect($event)"
    ></app-select>

    <app-select
      [label]="'Значение'"
      [options]="values"
      [selectedOption]="currentValue"
      (selectCheck)="onValueSelect($event)"
    ></app-select>

  </div>
</div>
